.shopping-cart {
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

table, th, td {
  border: 1px solid black;
  padding: 18px;
}
