mat-toolbar {
  padding-left: 120px;
  padding-right: 120px;
}

mat-icon {
  display: inline-table;
  font-size: 45px;
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  font-size: large;
}

.active {
  color: darkviolet;
}
