<div class="signup-container">
  <h1>Welcome, SignUp to Angularland!</h1>
  <div class="signup-forms">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="onSignUp(email.value, password.value)">SignUp</button>
</div>

