<div class="content">
  <img src="./../../assets/images/frontend.png">

  <div class="courses-container">
    <h2>Build your career and improve your skills!</h2>
    <h3>Feel free to subscribe </h3>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <app-course fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="start start" *ngFor="let course of coursesList"
        [course]="course"
        [displayUnsubscribe]="false"
        (subscribeNewCourse)="onSubscribeNewCourse($event)">
      </app-course>
    </div>

      <h2>Buy your favorite programming book from here!</h2>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <app-product fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayoutAlign="start start" *ngFor="let product of productsList"
        [product]="product">
      </app-product>
    </div>
  </div>
</div>


