.content {
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.courses-container {
  margin-top: 40px;
  height: 100vh;
  padding-bottom: 200px;
}

